<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244641136672-tq1jql43qipfvqcshtds0fdpagselmid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244641136672-tq1jql43qipfvqcshtds0fdpagselmid</string>
	<key>API_KEY</key>
	<string>AIzaSyC4aUkeAr-nIW56Z2gf6qy__JiV9X2rGK0</string>
	<key>GCM_SENDER_ID</key>
	<string>244641136672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Personal-Project.ReadaMenu</string>
	<key>PROJECT_ID</key>
	<string>readamenufirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>readamenufirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244641136672:ios:9985213fe7b38e2e6abc45</string>
</dict>
</plist>